archive/legacy_n8n_exports/coaching-owner-ai-assistant/workflows/00_Coaching_Student_CRM_Agent_End_to_End.json
{
  "name": "Coaching Student CRM Agent",
  "nodes": [
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash-exp",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash-exp"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1040,
        0
      ],
      "id": "9d370a5b-75a6-47af-b77b-b4e5ab8afd79",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1696,
        160
      ],
      "id": "28f36d68-92d4-4176-ae74-250c2d9805d5",
      "name": "Telegram Trigger",
      "webhookId": "8f42905c-b428-4ed8-8f8f-b16db30965e0",
      "credentials": {
        "telegramApi": {
          "id": "SELECT_YOUR_TELEGRAM_CREDENTIAL",
          "name": "SELECT_YOUR_TELEGRAM_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "ce346e84-a635-4bea-aef1-b657783fae78"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ef45e02-666a-419f-963e-7d62ab74cd1d",
                    "leftValue": "={{ $json.message.photo[0].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dbf633ef-819c-4da5-a965-a6b8b0dfe612",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1472,
        144
      ],
      "id": "5a8d7bbf-f5c7-4a04-a1f8-1caa5a4c0d41",
      "name": "Switch1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1024,
        352
      ],
      "id": "6578505b-ac4f-40d1-9323-f5e7e9e8ca28",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81227ae1-f432-4b88-abe4-47f3d635ef06",
              "name": "final_text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        160
      ],
      "id": "9d6e67c7-be8b-48f5-a555-ef7f64d1390c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1248,
        352
      ],
      "id": "f5e17ad0-6d01-445f-9832-341c8c622a4e",
      "name": "Photo_file",
      "webhookId": "5ca5c8cd-b088-4612-8e23-0d3b5b6ca2ca",
      "credentials": {
        "telegramApi": {
          "id": "SELECT_YOUR_TELEGRAM_CREDENTIAL",
          "name": "SELECT_YOUR_TELEGRAM_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1264,
        0
      ],
      "id": "194971a8-58ef-4bfc-9b5a-43c0b687e7d5",
      "name": "Audio_file",
      "webhookId": "79de3542-443c-43c5-8a44-0b3ac977e382",
      "credentials": {
        "telegramApi": {
          "id": "SELECT_YOUR_TELEGRAM_CREDENTIAL",
          "name": "SELECT_YOUR_TELEGRAM_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "description": "This tool is used for email specific query",
        "workflowId": {
          "__rl": true,
          "value": "fwjIlZvGRIc32mKn",
          "mode": "list",
          "cachedResultUrl": "/workflow/fwjIlZvGRIc32mKn",
          "cachedResultName": "Swarm Agents — Email Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', ``, 'string') }}"
          },
          "matchingColumns": [
            "query"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        416,
        400
      ],
      "id": "e8c6b8d7-3f3d-4408-9814-9baa589cf5e7",
      "name": "Email Workflow"
    },
    {
      "parameters": {
        "description": "This tool will be used for calendar events . Or the events which require to be stored on calendar",
        "workflowId": {
          "__rl": true,
          "value": "YQO27vDpwZruiJks",
          "mode": "list",
          "cachedResultUrl": "/workflow/YQO27vDpwZruiJks",
          "cachedResultName": "Coaching Student CRM Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        304
      ],
      "id": "97336b5d-8204-4d7d-a912-529c3fa6afc1",
      "name": "Calendar Workflow"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        400
      ],
      "id": "aa1310b4-e774-464a-b7e3-ae5b1aab3351",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        128
      ],
      "id": "d433c301-d0b0-481f-8ab5-d7935d695e75",
      "name": "Send a text message",
      "webhookId": "e0acaac7-7ead-494e-8c5f-1ac63f82c1c1",
      "credentials": {
        "telegramApi": {
          "id": "SELECT_YOUR_TELEGRAM_CREDENTIAL",
          "name": "SELECT_YOUR_TELEGRAM_CREDENTIAL"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6cb675d-6f2c-4075-ad7b-14e59ac42e70",
              "name": "final_text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        0
      ],
      "id": "ea7f5079-b1da-4634-a65c-3c57adf637bb",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea6d688f-b388-4951-9945-8cfb0f447c7d",
              "name": "final_text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        352
      ],
      "id": "a6b8da6f-d311-42dd-b07a-11ba5e210319",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "description": "This tool is used for coaching student CRM tasks: new inquiry, lead status, follow-up, demo status, batch, fee status, hot leads, and student records.",
        "workflowId": {
          "__rl": true,
          "value": "coachingStudentCRM001",
          "mode": "list",
          "cachedResultUrl": "/workflow/coachingStudentCRM001",
          "cachedResultName": "Coaching Student CRM Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        336,
        304
      ],
      "id": "d0db5da3-2a38-403b-9c38-b3c2ab8a8c43",
      "name": "Student CRM Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9ivY1pGxLzK4Lqgt",
          "mode": "list",
          "cachedResultUrl": "/workflow/9ivY1pGxLzK4Lqgt",
          "cachedResultName": "Swarm Agents — Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"
          },
          "matchingColumns": [
            "Input"
          ],
          "schema": [
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        224,
        368
      ],
      "id": "39456410-c27a-45e4-9f71-f0ead965aa48",
      "name": "Call 'Research Agent'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}\n\nTime : {{ $now }}\n\nTimezone: Asia/Kolkata (+05:30)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Email Agent for a coaching institute.\n\nYou handle emails to students, parents, leads, teachers, and staff.\n\nCapabilities:\n- Send admission inquiry replies\n- Send demo class confirmations\n- Send fee reminders\n- Send class updates\n- Send parent meeting confirmations\n- Send follow-up emails\n- Read and summarize relevant emails\n- Reply to parent or student emails\n- Delete emails only when the owner clearly asks for deletion\n\nRules:\n1. Write emails in a polite, professional, and simple tone.\n2. For parents, use respectful and clear language.\n3. For students, use friendly but professional language.\n4. Always include important details when available: course, date, time, location or online link, contact number, and next step.\n5. Do not send bulk emails unless clearly instructed.\n6. Confirm before mass delete or multi-send.\n7. Return plain text summary only. No Markdown, no HTML.\n8. Keep response under 4096 characters.\n\nCommon email types:\n1. New inquiry response\n2. Demo class confirmation\n3. Fee payment reminder\n4. Batch start notification\n5. Parent meeting confirmation\n6. Class cancellation or reschedule notice\n7. Admission confirmation\n8. Follow-up after demo class\n\nOutput format:\nAction: Email Sent / Email Read / Email Replied / Email Deleted\nTo:\nSubject:\nPurpose:\nTimestamp: ISO 8601 +05:30\nStatus:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -944,
        704
      ],
      "id": "573bf5bb-fdb5-4d39-9891-93afd6db1e31",
      "name": "Coaching Email Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -848,
        1024
      ],
      "id": "eef3efc2-0afe-45ad-9630-e41b229041be",
      "name": "Send a message in Gmail",
      "webhookId": "2ce26bd4-11e4-4759-8df7-0f2a5030a6da",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -688,
        1008
      ],
      "id": "8579b6ab-d12d-41ee-9aef-460497b7f092",
      "name": "Get a message in Gmail",
      "webhookId": "c48acb5c-5969-430e-8e63-8f3b1c5733ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -784,
        1216
      ],
      "id": "9b12dbd4-cc03-4f9a-9326-f7c97a17abf2",
      "name": "Get many messages in Gmail",
      "webhookId": "88589a9e-1924-4400-8511-020f818b838d",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -544,
        1120
      ],
      "id": "9216d90a-f76b-4418-8ea4-8d5542a8930d",
      "name": "Reply to a message in Gmail",
      "webhookId": "a41d9a7d-ace7-4b0d-8e94-a29ee781762c",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -976,
        1152
      ],
      "id": "da76a604-b7ad-4bc2-ae08-48ff81c90286",
      "name": "Delete a message in Gmail",
      "webhookId": "b43b4ef3-c5a9-4a20-81f9-2a1f5255794e",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -384,
        1088
      ],
      "id": "bdf28389-7be8-42e7-b092-d7e57d6379b5",
      "name": "Send message and wait for response in Gmail",
      "webhookId": "233b2650-90d4-4004-88cb-d5c4fadb816e",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1040,
        1008
      ],
      "id": "24011d47-f3d0-4080-8db6-88dda13598a3",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1088,
        912
      ],
      "id": "79d8794d-f37e-41e5-8073-377c8b389f6b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}\n\ntime : {{ $now }}\n\nToday : {{ $today }}\n\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Calendar Agent for a coaching institute owner.\n\nYou manage:\n- Demo classes\n- Regular batches\n- Parent meetings\n- Teacher meetings\n- Follow-up calls\n- Exam dates\n- Revision sessions\n- Counselling sessions\n\nCapabilities:\n1. Create calendar events\n2. Update class or meeting timings\n3. Delete cancelled events\n4. Check availability\n5. List upcoming events\n\nRules:\n1. All times must be in ISO 8601 format with Asia/Kolkata timezone: YYYY-MM-DDThh:mm:ss+05:30.\n2. Default demo class duration: 45 minutes.\n3. Default parent meeting duration: 30 minutes.\n4. Default follow-up call duration: 15 minutes.\n5. Default batch class duration: 60 minutes.\n6. If time is missing, ask clarification.\n7. If date is missing, ask clarification.\n8. Return plain text only. No Markdown, no HTML.\n9. Mention event title, date, time, attendees, and status.\n\nEvent title examples:\n- Demo Class - Rahul - NEET\n- Parent Meeting - Aarav\n- Follow-up Call - Priya\n- Class 10 Maths Batch\n- JEE Physics Revision Session\n\nOutput format:\nAction: Event Created / Event Updated / Event Deleted / Availability Checked\nTitle:\nStart:\nEnd:\nAttendees:\nLocation:\nStatus:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        672
      ],
      "id": "40851a76-dadf-4c50-a181-60e4689bcb1d",
      "name": "Coaching Calendar Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        1136
      ],
      "id": "845cd2ae-67f4-4adf-bc74-d2610989df09",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        800
      ],
      "id": "41e416db-1175-44e8-bc59-5ba31395f655",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        528,
        1136
      ],
      "id": "71697b28-ffe9-473d-8655-1a191b219772",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        624,
        1056
      ],
      "id": "96f19118-b11e-4c2e-9cf9-0262179aab6a",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        800
      ],
      "id": "b358544c-52a2-47da-90ff-ff19bbe34e7f",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        400,
        1184
      ],
      "id": "58f76c20-770c-475d-a1cc-a8de617db327",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "23456",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        960
      ],
      "id": "c69f6c5e-5309-4332-bfad-2faac31caeed",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        992
      ],
      "id": "20dd8f45-fcde-42f1-9b6b-0d405f479fd8",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=user query :  {{ $json.Input }}\n\nToday : {{ $today }}\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Research Agent for a coaching institute.\n\nYou help the coaching owner with:\n- Lesson planning\n- Worksheet creation\n- Syllabus research\n- Exam preparation\n- Competitive exam updates\n- Course content ideas\n- Competitor research\n- Student doubt explanation\n- Homework photo analysis support\n- Marketing content ideas for coaching classes\n\nTool logic:\n- Use Wikipedia for stable concepts and definitions.\n- Use Tavily for current updates, exam news, syllabus updates, and competitor research.\n- Use both when the topic needs background plus latest information.\n\nRules:\n1. Keep explanations simple and student-friendly.\n2. For academic topics, explain step-by-step.\n3. For marketing research, give practical business suggestions.\n4. For syllabus or exam updates, mention the date clearly.\n5. Return 3–6 useful points unless asked for detailed content.\n6. No raw URLs.\n7. Plain text only.\n8. Keep output Telegram-safe.\n\nExamples:\n- \"Create Class 10 trigonometry worksheet\" → Generate worksheet questions.\n- \"Explain photosynthesis for Class 8\" → Simple student-friendly explanation.\n- \"Find latest NEET syllabus update\" → Use Tavily and summarize.\n- \"Research nearby coaching competitors\" → Use Tavily and summarize pricing, positioning, and offers if available.\n\nOutput format:\nResearch Summary:\n1.\n2.\n3.\nNext useful action:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1040,
        688
      ],
      "id": "51d7aca9-7cd2-4f16-aff6-1e92adf01085",
      "name": "Coaching Research Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1104,
        1088
      ],
      "id": "0daea64b-e196-4e54-a920-18d2fd287d10",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1216,
        976
      ],
      "id": "aab25d51-d635-4f13-8f1b-d5828fbb311f",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "SELECT_YOUR_TAVILY_CREDENTIAL",
          "name": "SELECT_YOUR_TAVILY_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1056,
        928
      ],
      "id": "88885b70-4b0b-4232-8d87-ffb801baacaa",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\":\"Add/update/search student CRM request\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1952,
        944
      ],
      "id": "0f221771-5b1b-4baf-b41f-831074d394fc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1872,
        1184
      ],
      "id": "5f00296d-ee5c-4d78-8957-bea6572f881f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Coaching Student CRM Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PASTE_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name",
          "cachedResultName": "Students",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PASTE_GOOGLE_SHEET_ID_HERE/edit"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1472,
        1184
      ],
      "id": "530df90c-1e8a-43d8-8e78-21a7fc746300",
      "name": "Search Student CRM in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      },
      "notes": "Use this tool to search/read existing student CRM rows. Use it before updating records or when asked to list students, pending fees, follow-ups, demos, hot leads, or batch students."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Coaching Student CRM Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name",
          "cachedResultName": "Students"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student_ID": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Student_ID', `Student_ID value`, 'string') }",
            "Student_Name": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Student_Name', `Student_Name value`, 'string') }",
            "Parent_Name": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Name', `Parent_Name value`, 'string') }",
            "Phone": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Phone value`, 'string') }",
            "Email": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email value`, 'string') }",
            "City": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', `City value`, 'string') }",
            "Class_Grade": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Class_Grade', `Class_Grade value`, 'string') }",
            "Course_Interest": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Course_Interest', `Course_Interest value`, 'string') }",
            "Exam_Target": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Exam_Target', `Exam_Target value`, 'string') }",
            "Lead_Source": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lead_Source', `Lead_Source value`, 'string') }",
            "Lead_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lead_Status', `Lead_Status value`, 'string') }",
            "Demo_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Demo_Status', `Demo_Status value`, 'string') }",
            "Demo_Date": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Demo_Date', `Demo_Date value`, 'string') }",
            "Follow_Up_Date": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Follow_Up_Date', `Follow_Up_Date value`, 'string') }",
            "Batch_Assigned": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Batch_Assigned', `Batch_Assigned value`, 'string') }",
            "Fee_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fee_Status', `Fee_Status value`, 'string') }",
            "Amount_Pending": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Pending', `Amount_Pending value`, 'string') }",
            "Last_Contacted": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Contacted', `Last_Contacted value`, 'string') }",
            "Next_Action": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Next_Action', `Next_Action value`, 'string') }",
            "Notes": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Notes value`, 'string') }",
            "Created_At": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Created_At', `Created_At value`, 'string') }",
            "Updated_At": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Updated_At', `Updated_At value`, 'string') }"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Student_ID",
              "displayName": "Student_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student_Name",
              "displayName": "Student_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parent_Name",
              "displayName": "Parent_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Class_Grade",
              "displayName": "Class_Grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course_Interest",
              "displayName": "Course_Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Exam_Target",
              "displayName": "Exam_Target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Source",
              "displayName": "Lead_Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Status",
              "displayName": "Lead_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demo_Status",
              "displayName": "Demo_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demo_Date",
              "displayName": "Demo_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_Up_Date",
              "displayName": "Follow_Up_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Batch_Assigned",
              "displayName": "Batch_Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fee_Status",
              "displayName": "Fee_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount_Pending",
              "displayName": "Amount_Pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Contacted",
              "displayName": "Last_Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next_Action",
              "displayName": "Next_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated_At",
              "displayName": "Updated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1264,
        1184
      ],
      "id": "9e50ac71-5a75-4369-b8b7-cb4663f43dfc",
      "name": "Add or Update Student CRM Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      },
      "notes": "Use this tool to add a new student inquiry or update an existing student. Use Phone as the matching column. Fill missing unknown fields as blank."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=owner request : {{ $json.input }}\n\nToday : {{ $today }}\nTime : {{ $now }}\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Student CRM Agent for a coaching institute.\n\nYour job is to manage student leads, inquiries, demo class status, course interest, follow-ups, fee status, batch assignment, and student records using Google Sheets.\n\nMain data source:\nGoogle Sheet named: Coaching Student CRM\nSheet tab: Students\n\nRecommended columns:\nStudent_ID, Student_Name, Parent_Name, Phone, Email, City, Class_Grade, Course_Interest, Exam_Target, Lead_Source, Lead_Status, Demo_Status, Demo_Date, Follow_Up_Date, Batch_Assigned, Fee_Status, Amount_Pending, Last_Contacted, Next_Action, Notes, Created_At, Updated_At\n\nCapabilities:\n1. Add new student inquiry\n2. Update student record\n3. Search student by name, phone, email, course, batch, or status\n4. Mark demo booked, demo completed, joined, not interested, or follow-up needed\n5. Track fee pending or paid status\n6. List pending follow-ups\n7. List hot leads\n8. List demo students\n9. List students by course or batch\n10. Generate short summary for the coaching owner\n\nRules:\n1. Always keep student data clean and structured.\n2. If adding a new inquiry, capture at least Student_Name, Phone, Course_Interest, Lead_Status, and Next_Action.\n3. If Phone and Student_Name are both missing, ask for clarification.\n4. Use Phone as the main matching column when updating existing records.\n5. If Phone is unavailable, use Email as matching column.\n6. Use Asia/Kolkata timezone for all dates.\n7. Return plain text only. No Markdown, no HTML, no raw JSON.\n8. Keep response short and owner-friendly.\n\nStatus values:\nNew Inquiry, Contacted, Demo Booked, Demo Completed, Hot Lead, Joined, Not Interested, Follow-up Needed, Fee Pending, Active Student, Inactive Student\n\nOutput format:\nAction completed:\nStudent:\nCourse:\nStatus:\nNext action:\nFollow-up date:\nNotes:\nStatus: Success / Failed\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1776,
        944
      ],
      "id": "ab153284-d408-4d1d-81cc-8eeeb0cc7e79",
      "name": "Student CRM Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1696,
        1216
      ],
      "id": "5d992c85-36f5-47ac-8e93-b60ca732082e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        384
      ],
      "id": "714b5ebc-f305-4d77-92f3-e3b2e97b30a6",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        928
      ],
      "id": "0384af33-a01d-43f3-9282-5500f8e8b583",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.final_text }}\n\nTime : {{ $now }}\n\nDate : {{ $today }}\n\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Main Coaching Business Routing Agent for a coaching institute owner.\n\nYour role:\nAnalyze the owner's message, understand the intent, route the task to the correct sub-agent, and return a clean plain-text response for Telegram or WhatsApp.\n\nSub-Agents:\n1. Student CRM Agent\nHandles student inquiries, lead qualification, student records, follow-up status, course interest, batch allocation, fee status, and demo class tracking.\n\n2. Email Agent\nHandles emails to students, parents, leads, teachers, and staff. Sends admission replies, demo confirmations, fee reminders, class updates, and follow-up messages.\n\n3. Calendar Agent\nHandles demo class bookings, batch schedules, parent meetings, teacher meetings, exam dates, follow-up calls, and exam/revision sessions.\n\n4. Research Agent\nHandles syllabus research, lesson planning, worksheets, exam preparation, competitor research, course content, and marketing content ideas.\n\nCore Rules:\n1. Never execute tasks directly. Route to the correct sub-agent.\n2. Detect whether the message is about lead, student, fee, batch, email, calendar, research, worksheet, homework, parent communication, or demo class.\n3. Convert all dates/times to ISO 8601 format with Asia/Kolkata timezone: YYYY-MM-DDThh:mm:ss+05:30.\n4. Ask clarification only if essential.\n5. Infer smart defaults when possible:\n   - If demo class time is missing, ask for time.\n   - If follow-up time is missing, use 10:00 AM.\n   - If demo duration is missing, use 45 minutes.\n   - If parent meeting duration is missing, use 30 minutes.\n   - If follow-up call duration is missing, use 15 minutes.\n6. Always return plain text only. No Markdown, no HTML, no raw JSON.\n7. Keep output short, professional, and coaching-owner friendly.\n8. End every final response with: — End of results —\n\nRouting Examples:\n- \"Add Rahul as new inquiry for NEET coaching\" → Student CRM Agent\n- \"Schedule demo class for Priya tomorrow 5 PM\" → Student CRM Agent → Calendar Agent\n- \"Send fee reminder to Aarav's parent\" → Student CRM Agent → Email Agent\n- \"Find all students whose fees are pending\" → Student CRM Agent\n- \"Create worksheet for Class 10 algebra\" → Research Agent\n- \"Email all demo students about Sunday batch\" → Student CRM Agent → Email Agent\n- \"Schedule parent meeting and send confirmation email\" → Calendar Agent → Email Agent\n- \"Analyze this homework photo\" → Research Agent\n- \"Show today's demo classes and pending follow-ups\" → Calendar Agent → Student CRM Agent\n\nBehavior:\nDetect intent → route to the right sub-agent(s) → collect output → merge final result → reply in plain text.\nNever mention internal workflow names or tool names to the coaching owner.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        64
      ],
      "id": "d519e587-b04d-48fc-abd9-83a4a16e4dc4",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Audio_file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Photo_file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo_file": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio_file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Workflow": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Research Agent'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Student CRM Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Student CRM Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Student CRM Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Student CRM in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Student CRM Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Student CRM Row": {
      "ai_tool": [
        [
          {
            "node": "Student CRM Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Student CRM Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0f233c34-87fb-4d0d-817e-92ce1c8658e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "YQO27vDpwZruiJks",
  "tags": []
}
