archive/legacy_n8n_exports/coaching-owner-ai-assistant/workflows/02_Coaching_Student_CRM_Agent.json
{
  "name": "Coaching Student CRM Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Student CRM Agent for Coaching Owner\n\nBefore using:\n1. Create a Google Sheet named Coaching Student CRM.\n2. Create tab: Students.\n3. Add columns: Student_ID, Student_Name, Parent_Name, Phone, Email, City, Class_Grade, Course_Interest, Exam_Target, Lead_Source, Lead_Status, Demo_Status, Demo_Date, Follow_Up_Date, Batch_Assigned, Fee_Status, Amount_Pending, Last_Contacted, Next_Action, Notes, Created_At, Updated_At.\n4. Replace PASTE_GOOGLE_SHEET_ID_HERE in both Google Sheets tools.\n5. Select your Google Sheets credential.",
        "height": 320,
        "width": 920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -240
      ],
      "typeVersion": 1,
      "id": "62934f0f-73b1-46a9-9ff3-7dd65fa5e399",
      "name": "Setup Note"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\":\"Add/update/search student CRM request\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "24b978b1-30a6-4fdb-8bb5-c32213832ff7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=owner request : {{ $json.input }}\n\nToday : {{ $today }}\nTime : {{ $now }}\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Student CRM Agent for a coaching institute.\n\nYour job is to manage student leads, inquiries, demo class status, course interest, follow-ups, fee status, batch assignment, and student records using Google Sheets.\n\nMain data source:\nGoogle Sheet named: Coaching Student CRM\nSheet tab: Students\n\nRecommended columns:\nStudent_ID, Student_Name, Parent_Name, Phone, Email, City, Class_Grade, Course_Interest, Exam_Target, Lead_Source, Lead_Status, Demo_Status, Demo_Date, Follow_Up_Date, Batch_Assigned, Fee_Status, Amount_Pending, Last_Contacted, Next_Action, Notes, Created_At, Updated_At\n\nCapabilities:\n1. Add new student inquiry\n2. Update student record\n3. Search student by name, phone, email, course, batch, or status\n4. Mark demo booked, demo completed, joined, not interested, or follow-up needed\n5. Track fee pending or paid status\n6. List pending follow-ups\n7. List hot leads\n8. List demo students\n9. List students by course or batch\n10. Generate short summary for the coaching owner\n\nRules:\n1. Always keep student data clean and structured.\n2. If adding a new inquiry, capture at least Student_Name, Phone, Course_Interest, Lead_Status, and Next_Action.\n3. If Phone and Student_Name are both missing, ask for clarification.\n4. Use Phone as the main matching column when updating existing records.\n5. If Phone is unavailable, use Email as matching column.\n6. Use Asia/Kolkata timezone for all dates.\n7. Return plain text only. No Markdown, no HTML, no raw JSON.\n8. Keep response short and owner-friendly.\n\nStatus values:\nNew Inquiry, Contacted, Demo Booked, Demo Completed, Hot Lead, Joined, Not Interested, Follow-up Needed, Fee Pending, Active Student, Inactive Student\n\nOutput format:\nAction completed:\nStudent:\nCourse:\nStatus:\nNext action:\nFollow-up date:\nNotes:\nStatus: Success / Failed\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        260,
        0
      ],
      "id": "2609116a-4183-41a8-8327-be1f664eb361",
      "name": "Student CRM Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        240
      ],
      "id": "b598ff5e-9e06-4e5e-84af-ee7849839daf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        280
      ],
      "id": "44c95d67-ca00-4562-847e-2ffd630a44da",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Coaching Student CRM Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name",
          "cachedResultName": "Students"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        240
      ],
      "id": "daa30e7d-f3cd-47eb-b043-82b1210b1756",
      "name": "Search Student CRM in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      },
      "notes": "Use this tool to search/read existing student CRM rows. Use it before updating records or when asked to list students, pending fees, follow-ups, demos, hot leads, or batch students."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "Coaching Student CRM Sheet"
        },
        "sheetName": {
          "__rl": true,
          "value": "Students",
          "mode": "name",
          "cachedResultName": "Students"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Student_ID": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Student_ID', `Student_ID value`, 'string') }",
            "Student_Name": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Student_Name', `Student_Name value`, 'string') }",
            "Parent_Name": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Parent_Name', `Parent_Name value`, 'string') }",
            "Phone": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Phone', `Phone value`, 'string') }",
            "Email": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email value`, 'string') }",
            "City": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', `City value`, 'string') }",
            "Class_Grade": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Class_Grade', `Class_Grade value`, 'string') }",
            "Course_Interest": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Course_Interest', `Course_Interest value`, 'string') }",
            "Exam_Target": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Exam_Target', `Exam_Target value`, 'string') }",
            "Lead_Source": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lead_Source', `Lead_Source value`, 'string') }",
            "Lead_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lead_Status', `Lead_Status value`, 'string') }",
            "Demo_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Demo_Status', `Demo_Status value`, 'string') }",
            "Demo_Date": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Demo_Date', `Demo_Date value`, 'string') }",
            "Follow_Up_Date": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Follow_Up_Date', `Follow_Up_Date value`, 'string') }",
            "Batch_Assigned": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Batch_Assigned', `Batch_Assigned value`, 'string') }",
            "Fee_Status": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fee_Status', `Fee_Status value`, 'string') }",
            "Amount_Pending": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount_Pending', `Amount_Pending value`, 'string') }",
            "Last_Contacted": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Last_Contacted', `Last_Contacted value`, 'string') }",
            "Next_Action": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Next_Action', `Next_Action value`, 'string') }",
            "Notes": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', `Notes value`, 'string') }",
            "Created_At": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Created_At', `Created_At value`, 'string') }",
            "Updated_At": "={ /*n8n-auto-generated-fromAI-override*/ $fromAI('Updated_At', `Updated_At value`, 'string') }"
          },
          "matchingColumns": [
            "Phone"
          ],
          "schema": [
            {
              "id": "Student_ID",
              "displayName": "Student_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Student_Name",
              "displayName": "Student_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Parent_Name",
              "displayName": "Parent_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Class_Grade",
              "displayName": "Class_Grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Course_Interest",
              "displayName": "Course_Interest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Exam_Target",
              "displayName": "Exam_Target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Source",
              "displayName": "Lead_Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead_Status",
              "displayName": "Lead_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demo_Status",
              "displayName": "Demo_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Demo_Date",
              "displayName": "Demo_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow_Up_Date",
              "displayName": "Follow_Up_Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Batch_Assigned",
              "displayName": "Batch_Assigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fee_Status",
              "displayName": "Fee_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount_Pending",
              "displayName": "Amount_Pending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last_Contacted",
              "displayName": "Last_Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Next_Action",
              "displayName": "Next_Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created_At",
              "displayName": "Created_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Updated_At",
              "displayName": "Updated_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        760,
        240
      ],
      "id": "67c6b2c9-7b9f-4f72-90cf-67d1f0732458",
      "name": "Add or Update Student CRM Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      },
      "notes": "Use this tool to add a new student inquiry or update an existing student. Use Phone as the matching column. Fill missing unknown fields as blank."
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Student CRM Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Student CRM Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Student CRM Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search Student CRM in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Student CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Student CRM Row": {
      "ai_tool": [
        [
          {
            "node": "Student CRM Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6857b2d8-8272-4279-9647-9ba04bb3881c",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "coachingStudentCRM001",
  "tags": []
}
