archive/legacy_n8n_exports/coaching-owner-ai-assistant/workflows/04_Coaching_Calendar_Agent.json
{
  "name": "Coaching Calendar Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}\n\ntime : {{ $now }}\n\nToday : {{ $today }}\n\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Calendar Agent for a coaching institute owner.\n\nYou manage:\n- Demo classes\n- Regular batches\n- Parent meetings\n- Teacher meetings\n- Follow-up calls\n- Exam dates\n- Revision sessions\n- Counselling sessions\n\nCapabilities:\n1. Create calendar events\n2. Update class or meeting timings\n3. Delete cancelled events\n4. Check availability\n5. List upcoming events\n\nRules:\n1. All times must be in ISO 8601 format with Asia/Kolkata timezone: YYYY-MM-DDThh:mm:ss+05:30.\n2. Default demo class duration: 45 minutes.\n3. Default parent meeting duration: 30 minutes.\n4. Default follow-up call duration: 15 minutes.\n5. Default batch class duration: 60 minutes.\n6. If time is missing, ask clarification.\n7. If date is missing, ask clarification.\n8. Return plain text only. No Markdown, no HTML.\n9. Mention event title, date, time, attendees, and status.\n\nEvent title examples:\n- Demo Class - Rahul - NEET\n- Parent Meeting - Aarav\n- Follow-up Call - Priya\n- Class 10 Maths Batch\n- JEE Physics Revision Session\n\nOutput format:\nAction: Event Created / Event Updated / Event Deleted / Availability Checked\nTitle:\nStart:\nEnd:\nAttendees:\nLocation:\nStatus:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        448,
        128
      ],
      "id": "f9cc4b50-e0e5-44f9-b2f1-f2f594e1a478",
      "name": "Coaching Calendar Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "23456",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        544,
        304
      ],
      "id": "87ec5ab9-3ad0-42d2-8611-160f5cb8487f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        848,
        480
      ],
      "id": "81d2291d-cbec-4f92-9df7-c0e2e7a38af3",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        688,
        480
      ],
      "id": "dd286e15-a7af-4dae-8257-4427ea085ae1",
      "name": "Get an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        592
      ],
      "id": "680b035e-722a-41d0-af42-d93da88064ad",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        528
      ],
      "id": "9f43eade-ac3c-42b6-82e8-f0a7bee42954",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1440,
        496
      ],
      "id": "035301ee-fe38-416a-b9d0-9b437e0f0fe6",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        992,
        496
      ],
      "id": "ea1824a7-8409-4813-8d5c-18db92280354",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL",
          "name": "SELECT_YOUR_GOOGLE_CALENDAR_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"input\":\"Prompt\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        128
      ],
      "id": "67d2d148-dc01-4a80-a0ac-d14d15a5943a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "d08e10d6-a78b-4c4f-98d3-0216eb0890e0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d823cd94-c180-467a-840a-e632f8387e83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "r8xFL1D18463ETcY",
  "tags": []
}
