archive/legacy_n8n_exports/akceleratehq-free-audit-auto-proposal/workflows/AKcelerateHQ_Free_Audit_Auto_Proposal_PUBLIC.json
{
  "name": "AKcelerateHQ Free Audit Auto-Proposal System",
  "nodes": [
    {
      "parameters": {
        "content": "## AKcelerateHQ Free Audit Auto-Proposal System - FIXED\n\nThis workflow starts when a new Google Form row is added.\n\nIt now correctly creates:\n- Clean lead fields\n- Lead score and lead type\n- Recommended package\n- Personalized HTML email proposal\n- Premium WhatsApp proposal message\n- Proposal log in Google Sheets\n- Internal notification\n\nFix applied: removed broken chatbot AI Agent path that expected webhook data instead of Google Sheet data.",
        "height": 300,
        "width": 360,
        "color": 5
      },
      "id": "b6572682-e9e2-404b-b7f1-ca629167cf53",
      "name": "Sticky Note - Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        1024
      ]
    },
    {
      "parameters": {
        "content": "## Setup Required\n\nBefore activating:\n\n1. Connect Google Sheets Trigger credential\n2. Connect Gmail credential\n3. Create a sheet tab named: Proposal Log\n4. Replace PASTE_WASSENGER_API_TOKEN_HERE in WhatsApp node\n5. Confirm your Google Form sheet tab is selected in trigger\n\nOptional:\n- Change prices inside the Code node\n- Change email design inside the Code node\n- Change WhatsApp tone inside the Code node",
        "height": 300,
        "width": 360,
        "color": 3
      },
      "id": "6ff95259-010f-48e4-a1ff-789df56a52a2",
      "name": "Sticky Note - Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1248,
        1376
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "AKcelerateHQ Audit Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PASTE_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "Form Submission",
          "mode": "name",
          "cachedResultName": "Form Submission",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PASTE_GOOGLE_SHEET_ID_HERE/edit#gid=FORM_SUBMISSION_TAB"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "483cd7a2-db20-42c8-acc7-138c399d4855",
      "name": "Google Sheets Trigger - New Audit Form Row",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        1264
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "PASTE_GOOGLE_SHEETS_CREDENTIAL_HERE",
          "name": "PASTE_GOOGLE_SHEETS_CREDENTIAL_HERE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "aad9e355-0c8f-45fd-a22f-334c7ac82f57",
              "leftValue": "={{ $json[\"I agree that AKcelerateHQ may contact me regarding my automation audit request.  \"] || 'yes' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "434ce4bc-d3f4-4fb4-9e58-9fd03cd3305c",
      "name": "IF - Contact Permission Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -544,
        1264
      ]
    },
    {
      "parameters": {
        "content": "## Proposal Generator - FIXED\n\nThis Code node now generates all fields used later:\n- work_email\n- contact_no\n- whatsapp_to\n- full_name\n- company_name\n- email_subject\n- email_html\n- whatsapp_message\n- internal_notification\n- lead_score\n- lead_type\n- recommended_package\n- follow_up_date\n\nThis fixes the previous missing-field issue.",
        "height": 280,
        "width": 340,
        "color": 4
      },
      "id": "7f66630b-c6b3-414d-8363-7c6c8244e846",
      "name": "Sticky Note - Proposal Logic",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nfunction cleanText(value, fallback = '') {\n  if (value === undefined || value === null) return fallback;\n  return String(value).trim();\n}\n\nfunction normalizeKey(key) {\n  return String(key || '')\n    .toLowerCase()\n    .replace(/[\"'’‘“”]/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction pick(keys, fallback = '') {\n  // Exact match first\n  for (const key of keys) {\n    const value = item[key];\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return cleanText(value);\n    }\n  }\n\n  // Fuzzy match second for messy Google Form headers\n  const wanted = keys.map(normalizeKey);\n  for (const [realKey, value] of Object.entries(item)) {\n    if (value === undefined || value === null || String(value).trim() === '') continue;\n    const normalizedRealKey = normalizeKey(realKey);\n    for (const target of wanted) {\n      if (normalizedRealKey === target || normalizedRealKey.includes(target) || target.includes(normalizedRealKey)) {\n        return cleanText(value);\n      }\n    }\n  }\n\n  return fallback;\n}\n\nfunction escapeHtml(value) {\n  return cleanText(value)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#039;');\n}\n\nfunction normalizePhone(phone, country) {\n  let p = cleanText(phone).replace(/\\D/g, '');\n  const c = cleanText(country).toLowerCase();\n\n  if (!p) return '';\n\n  // India default if 10 digit number or country says India\n  if (p.length === 10 && (c.includes('india') || c.includes('in') || c === '')) {\n    return '91' + p;\n  }\n\n  if (p.startsWith('0') && p.length === 11 && (c.includes('india') || c.includes('in') || c === '')) {\n    return '91' + p.slice(1);\n  }\n\n  return p;\n}\n\nfunction extractMaxNumber(text) {\n  const nums = cleanText(text).match(/\\d+(?:\\.\\d+)?/g) || [];\n  if (!nums.length) return 0;\n  return Math.max(...nums.map(Number));\n}\n\nfunction addDays(days) {\n  const d = new Date();\n  d.setDate(d.getDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\n// -------------------------\n// Clean Google Form Fields\n// -------------------------\nconst full_name = pick(['Full name', 'Name', 'Your name'], 'there');\nconst email_address = pick(['Email address', 'Email']);\nconst work_email = pick(['Work email', 'Business email', 'Email address', 'Email']);\nconst contact_no = pick(['Contact No', 'Contact Number', 'Phone', 'Mobile', 'WhatsApp Number']);\nconst role = pick(['Your Role in Business', 'Role']);\nconst company_name = pick(['Company name', 'Company', 'Business name'], 'your business');\nconst website = pick(['Website(Optional)', 'Website', 'Website Optional']);\nconst industry = pick(['Industry'], 'your industry');\nconst company_size = pick(['Company size', 'Team size']);\nconst monthly_revenue = pick(['Monthly revenue', 'Monthly revenue   ']);\nconst country = pick(['Country'], 'India');\nconst tools_used = pick(['Tools you currently use', 'Tools']);\nconst operation_today = pick(['How does your operation run today? (Describe your team, processes, and handoffs..)', 'How does your operation run today?', 'Describe your team, processes, and handoffs']);\nconst pain_points = pick(['Where is the biggest pain? (pick all that apply) *', 'Where is the biggest pain?', 'Pain points']);\nconst hours_lost = pick(['Estimated hours lost per week to manual work', 'Hours lost']);\nconst ai_experience = pick([\"Your team's AI experience\", 'AI experience']);\nconst existing_automations = pick(['Existing automations (Zapier, scripts, etc.)', 'Existing automations']);\nconst data_readiness = pick(['Data readiness']);\nconst desired_workflows = pick([\n  \"Which workflows would you like AI to handle? \\n(Be specific — e.g., 'classify inbound emails, draft replies, sync to CRM')\",\n  'Which workflows would you like AI to handle?',\n  'workflows would you like AI to handle'\n]);\nconst desired_outcomes = pick(['Desired outcomes', 'Desired outcome']);\nconst timeline = pick(['Timeline']);\nconst budget = pick(['Budget ', 'Budget']);\nconst decision_authority = pick(['Decision authority']);\nconst anything_else = pick(['Anything else we should know?  (Constraints, integrations, security needs...)', 'Anything else we should know?', 'Constraints, integrations, security needs']);\nconst referral_source = pick(['How did you hear about us?  (Mention your referral in others)', 'How did you hear about us?']);\nconst uploaded_files = pick(['Upload any helpful files such as workflow screenshots, Excel sheets, SOPs, reports, CRM exports, invoice samples, lead sheets, process documents, or project requirements.  ', 'Upload any helpful files']);\nconst whatsapp_to = normalizePhone(contact_no, country);\n\n// -------------------------\n// Lead Scoring\n// -------------------------\nlet score = 0;\nconst budgetLower = budget.toLowerCase();\nconst timelineLower = timeline.toLowerCase();\nconst authorityLower = decision_authority.toLowerCase();\nconst hoursNumber = extractMaxNumber(hours_lost);\n\nif (\n  budgetLower.includes('25000') || budgetLower.includes('25,000') ||\n  budgetLower.includes('50000') || budgetLower.includes('50,000') ||\n  budgetLower.includes('75000') || budgetLower.includes('75,000') ||\n  budgetLower.includes('1 lakh') || budgetLower.includes('100000') ||\n  budgetLower.includes('₹') || budgetLower.includes('$')\n) score += 30;\n\nif (\n  timelineLower.includes('immediate') || timelineLower.includes('urgent') ||\n  timelineLower.includes('this week') || timelineLower.includes('this month') ||\n  timelineLower.includes('asap') || timelineLower.includes('now')\n) score += 25;\n\nif (\n  authorityLower.includes('owner') || authorityLower.includes('founder') ||\n  authorityLower.includes('ceo') || authorityLower.includes('director') ||\n  authorityLower.includes('decision') || authorityLower.includes('final')\n) score += 25;\n\nif (hoursNumber >= 10) score += 20;\nif (uploaded_files.length > 5) score += 10;\nif (desired_workflows.length > 20) score += 10;\nif (tools_used.length > 10) score += 5;\n\nlet lead_type = 'Nurture Lead';\nif (score >= 80) lead_type = 'Hot Lead';\nelse if (score >= 50) lead_type = 'Warm Lead';\n\nlet recommended_package = 'Free Audit + Nurture Follow-up';\nif (score >= 80) recommended_package = 'AKcelerateHQ Builder + Maintenance';\nelse if (score >= 50) recommended_package = 'AKcelerateHQ Builder';\n\nconst proposal_status = 'Proposal Sent';\nconst follow_up_date = addDays(2);\n\n// -------------------------\n// Email Proposal\n// -------------------------\nconst email_subject = `Your Free AKcelerateHQ Automation Audit Summary for ${company_name}`;\n\nconst email_html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>AKcelerateHQ Automation Audit</title>\n</head>\n<body style=\"margin:0; padding:0; background:#f4f7fb; font-family:Arial, Helvetica, sans-serif; color:#111827;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f7fb; padding:30px 0;\">\n    <tr>\n      <td align=\"center\">\n        <table width=\"640\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff; border-radius:18px; overflow:hidden; box-shadow:0 10px 35px rgba(15, 23, 42, 0.12);\">\n          <tr>\n            <td style=\"background:linear-gradient(135deg, #0f172a, #2563eb); padding:34px;\">\n              <h1 style=\"margin:0; color:#ffffff; font-size:28px;\">AKcelerateHQ</h1>\n              <p style=\"margin:8px 0 0; color:#dbeafe; font-size:15px;\">Automate the Busywork. Accelerate Growth.</p>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding:32px;\">\n              <p style=\"font-size:16px; line-height:1.6;\">Hi <strong>${escapeHtml(full_name)}</strong>,</p>\n              <p style=\"font-size:16px; line-height:1.6;\">Thank you for submitting your free automation audit for <strong>${escapeHtml(company_name)}</strong>. Based on your responses, we found a practical opportunity to reduce manual work, improve follow-ups, and make your operations more organized.</p>\n\n              <div style=\"background:#f8fafc; border-left:5px solid #2563eb; padding:18px 20px; border-radius:12px; margin:24px 0;\">\n                <h2 style=\"margin:0 0 12px; font-size:19px; color:#0f172a;\">Your Audit Snapshot</h2>\n                <p style=\"margin:6px 0;\"><strong>Industry:</strong> ${escapeHtml(industry)}</p>\n                <p style=\"margin:6px 0;\"><strong>Company Size:</strong> ${escapeHtml(company_size)}</p>\n                <p style=\"margin:6px 0;\"><strong>Estimated Manual Hours Lost:</strong> ${escapeHtml(hours_lost)}</p>\n                <p style=\"margin:6px 0;\"><strong>Current Tools:</strong> ${escapeHtml(tools_used)}</p>\n                <p style=\"margin:6px 0;\"><strong>Lead Priority:</strong> ${escapeHtml(lead_type)}</p>\n              </div>\n\n              <h2 style=\"font-size:20px; color:#0f172a;\">Main Problem We Identified</h2>\n              <p style=\"font-size:16px; line-height:1.6;\">${escapeHtml(pain_points || 'Your current process has manual steps that can be simplified using workflow automation.')}</p>\n\n              <h2 style=\"font-size:20px; color:#0f172a;\">Workflow You Want AI To Handle</h2>\n              <p style=\"font-size:16px; line-height:1.6;\">${escapeHtml(desired_workflows || 'We can identify the best workflow during your discovery call.')}</p>\n\n              <div style=\"background:#eff6ff; border:1px solid #bfdbfe; padding:20px; border-radius:14px; margin:24px 0;\">\n                <h2 style=\"margin:0 0 10px; font-size:19px; color:#1e3a8a;\">Recommended Automation System</h2>\n                <ul style=\"font-size:16px; line-height:1.8; margin:0; padding-left:20px;\">\n                  <li>Lead capture and qualification automation</li>\n                  <li>Automatic WhatsApp and email follow-ups</li>\n                  <li>CRM or Google Sheet updates</li>\n                  <li>Internal alerts for your team</li>\n                  <li>Summary reports and dashboard-ready data</li>\n                </ul>\n              </div>\n\n              <h2 style=\"font-size:20px; color:#0f172a;\">Desired Outcome</h2>\n              <p style=\"font-size:16px; line-height:1.6;\">${escapeHtml(desired_outcomes || 'Save time, reduce missed follow-ups, and create a more organized workflow.')}</p>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e5e7eb; border-radius:14px; overflow:hidden; margin:24px 0;\">\n                <tr><td style=\"padding:18px; background:#f9fafb;\"><strong>Recommended Package:</strong><p style=\"margin:8px 0 0; line-height:1.5;\">${escapeHtml(recommended_package)}</p></td></tr>\n                <tr><td style=\"padding:18px;\"><strong>Builder:</strong><p style=\"margin:8px 0 0; line-height:1.5;\">Starts from ₹15,000 / $180 one-time.</p></td></tr>\n                <tr><td style=\"padding:18px; background:#f9fafb;\"><strong>Maintenance:</strong><p style=\"margin:8px 0 0; line-height:1.5;\">Starts from ₹5,000 / $60 per month per workflow, including 1 free monthly consultation.</p></td></tr>\n              </table>\n\n              <div style=\"background:#ecfdf5; border:1px solid #bbf7d0; padding:20px; border-radius:14px; margin:24px 0;\">\n                <h2 style=\"margin:0 0 10px; font-size:19px; color:#065f46;\">Next Step</h2>\n                <p style=\"margin:0; font-size:16px; line-height:1.6;\">Your mentioned timeline is <strong>${escapeHtml(timeline)}</strong> and your budget input is <strong>${escapeHtml(budget)}</strong>. The next step is a short discovery call where we confirm your tools, workflow logic, and exact automation scope.</p>\n              </div>\n\n              <div style=\"text-align:center; margin:30px 0;\">\n                <a href=\"https://akceleratehq.com\" style=\"background:#2563eb; color:#ffffff; text-decoration:none; padding:15px 28px; border-radius:10px; font-size:16px; font-weight:bold; display:inline-block;\">Book Discovery Call</a>\n              </div>\n\n              <p style=\"font-size:14px; line-height:1.6; color:#4b5563;\">Note: This is an initial audit-based recommendation. Final pricing and workflow scope will be confirmed after reviewing your tools, data, integrations, and exact business process.</p>\n\n              <p style=\"font-size:16px; line-height:1.6;\">Regards,<br><strong>Kalpesh Attarde</strong><br>Founder, AKcelerateHQ<br>Website: <a href=\"https://akceleratehq.com\" style=\"color:#2563eb;\">akceleratehq.com</a><br>Email: PASTE_AGENCY_EMAIL_HERE<br>WhatsApp: PASTE_AGENCY_WHATSAPP_HERE</p>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>`;\n\n// -------------------------\n// WhatsApp Message\n// -------------------------\nconst whatsapp_message = `Hi ${full_name},\n\nThanks for submitting your free AKcelerateHQ Automation Audit for ${company_name}.\n\nWe reviewed your responses and found automation opportunities around:\n\n• Pain area: ${pain_points || 'Manual workflow and follow-up gaps'}\n• Manual hours lost: ${hours_lost || 'Not specified'}\n• Desired workflow: ${desired_workflows || 'To be finalized on call'}\n\nRecommended starting point:\n${recommended_package}\n\nAKcelerateHQ Builder starts from ₹15,000 / $180 one-time.\nMaintenance starts from ₹5,000 / $60 per month per workflow.\n\nThis is an initial audit-based recommendation. We can finalize the exact system after a short discovery call.\n\nBook / view details:\nhttps://akceleratehq.com\n\n— Kalpesh\nFounder, AKcelerateHQ`;\n\nconst internal_notification = `New AKcelerateHQ Audit Lead\\n\\nName: ${full_name}\\nCompany: ${company_name}\\nIndustry: ${industry}\\nEmail: ${work_email}\\nPhone: ${contact_no}\\nWhatsApp To: ${whatsapp_to}\\n\\nLead Score: ${score}\\nLead Type: ${lead_type}\\nRecommended Package: ${recommended_package}\\n\\nPain Points: ${pain_points}\\nDesired Workflows: ${desired_workflows}\\nBudget: ${budget}\\nTimeline: ${timeline}\\nDecision Authority: ${decision_authority}\\n\\nProposal email and WhatsApp message triggered.`;\n\nreturn [\n  {\n    json: {\n      ...item,\n      full_name,\n      email_address,\n      work_email,\n      contact_no,\n      whatsapp_to,\n      role,\n      company_name,\n      website,\n      industry,\n      company_size,\n      monthly_revenue,\n      country,\n      tools_used,\n      operation_today,\n      pain_points,\n      hours_lost,\n      ai_experience,\n      existing_automations,\n      data_readiness,\n      desired_workflows,\n      desired_outcomes,\n      timeline,\n      budget,\n      decision_authority,\n      anything_else,\n      referral_source,\n      uploaded_files,\n      lead_score: score,\n      lead_type,\n      recommended_package,\n      proposal_status,\n      follow_up_date,\n      email_subject,\n      email_html,\n      whatsapp_message,\n      internal_notification\n    }\n  }\n];"
      },
      "id": "02c008db-2c39-4d5a-b07b-b59984c46912",
      "name": "Code - Score Lead and Generate Proposal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1248
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.work_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_html }}",
        "options": {
          "senderName": "AKcelerateHQ"
        }
      },
      "id": "e34757c3-4238-4adb-b303-0e04e2aca500",
      "name": "Gmail - Send HTML Proposal",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        1104
      ],
      "webhookId": "82eda3bb-ee26-4f90-8957-527c4295fb26",
      "credentials": {
        "gmailOAuth2": {
          "id": "PASTE_GMAIL_CREDENTIAL_HERE",
          "name": "PASTE_GMAIL_CREDENTIAL_HERE"
        }
      }
    },
    {
      "parameters": {
        "content": "## WhatsApp Setup\n\nThis fixed workflow uses Wassenger API because your uploaded file already had Wassenger.\n\nReplace in HTTP node URL:\nPASTE_WASSENGER_API_TOKEN_HERE\n\nExpected body:\n{\n  phone: whatsapp_to,\n  message: whatsapp_message\n}\n\nIf you use AiSensy, WATI, Interakt, WAHA, or Meta Cloud API, replace only this HTTP node.",
        "height": 260,
        "width": 340,
        "color": 6
      },
      "id": "9982dc4a-501f-40d3-bb85-1e013c796342",
      "name": "Sticky Note - WhatsApp Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        912
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "PASTE_GOOGLE_SHEET_ID_HERE",
          "mode": "id",
          "cachedResultName": "AKcelerateHQ Audit Form Responses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/PASTE_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "Proposal Log",
          "mode": "name",
          "cachedResultName": "Proposal Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Full name": "={{ $json.full_name }}",
            "Work email": "={{ $json.work_email }}",
            "Contact No": "={{ $json.contact_no }}",
            "Company name": "={{ $json.company_name }}",
            "Industry": "={{ $json.industry }}",
            "Country": "={{ $json.country }}",
            "Lead Score": "={{ $json.lead_score }}",
            "Lead Type": "={{ $json.lead_type }}",
            "Recommended Package": "={{ $json.recommended_package }}",
            "Proposal Status": "={{ $json.proposal_status }}",
            "Follow-up Date": "={{ $json.follow_up_date }}",
            "Email Sent": "Triggered",
            "WhatsApp Sent": "Triggered",
            "Pain Points": "={{ $json.pain_points }}",
            "Desired Workflows": "={{ $json.desired_workflows }}",
            "Budget": "={{ $json.budget }}",
            "Timeline": "={{ $json.timeline }}"
          },
          "matchingColumns": [
            "Work email"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Full name",
              "displayName": "Full name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Work email",
              "displayName": "Work email",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact No",
              "displayName": "Contact No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Lead Type",
              "displayName": "Lead Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Recommended Package",
              "displayName": "Recommended Package",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Proposal Status",
              "displayName": "Proposal Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Follow-up Date",
              "displayName": "Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "WhatsApp Sent",
              "displayName": "WhatsApp Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Pain Points",
              "displayName": "Pain Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Desired Workflows",
              "displayName": "Desired Workflows",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bb87d351-0254-40f4-bf5a-5251690ed0fe",
      "name": "Google Sheets - Update Proposal Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        256,
        1504
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PASTE_GOOGLE_SHEETS_CREDENTIAL_HERE",
          "name": "PASTE_GOOGLE_SHEETS_CREDENTIAL_HERE"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "PASTE_AGENCY_EMAIL_HERE",
        "subject": "={{ 'New Audit Lead - ' + ($json.company_name || $json.full_name || 'Unknown') + ' - ' + $json.lead_type }}",
        "emailType": "text",
        "message": "={{ $json.internal_notification }}",
        "options": {
          "senderName": "AKcelerateHQ Automation"
        }
      },
      "id": "9324f0af-ee8f-41fb-b590-2d2b8e677ef6",
      "name": "Gmail - Notify AKcelerateHQ",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        1312
      ],
      "webhookId": "75066f4d-3cf1-47b5-8d0a-5b06725c3dab",
      "credentials": {
        "gmailOAuth2": {
          "id": "PASTE_GMAIL_CREDENTIAL_HERE",
          "name": "PASTE_GMAIL_CREDENTIAL_HERE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wassenger.com/v1/messages?token=PASTE_WASSENGER_API_TOKEN_HERE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $json.whatsapp_to, message: $json.whatsapp_message } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        1312
      ],
      "id": "aac82dfd-ac36-4b8e-a401-2979dbfb34f1",
      "name": "HTTP - Send WhatsApp Proposal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "2eefccc0-38d8-4f32-8ba5-0ebfcb141cc1",
              "leftValue": "={{ $json.work_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "7796f17c-ee41-4851-95c2-fe45874f4dba",
              "leftValue": "={{ $json.whatsapp_to }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7c3827ec-08dc-41c7-a73e-4885e9271194",
      "name": "IF - Has Email and WhatsApp Number",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        1248
      ]
    },
    {
      "parameters": {
        "sendTo": "PASTE_AGENCY_EMAIL_HERE",
        "subject": "={{ 'Audit Lead Missing Contact Details - ' + ($json.company_name || $json.full_name || 'Unknown') }}",
        "emailType": "text",
        "message": "={{ 'A new audit form was submitted but work email or WhatsApp number is missing.\\n\\nName: ' + ($json.full_name || '') + '\\nCompany: ' + ($json.company_name || '') + '\\nEmail: ' + ($json.work_email || '') + '\\nPhone: ' + ($json.contact_no || '') }}",
        "options": {
          "senderName": "AKcelerateHQ Automation"
        }
      },
      "id": "271686f2-488d-4b17-87fe-1371cbb45d3b",
      "name": "Gmail - Notify Missing Contact Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        256,
        1712
      ],
      "webhookId": "1ecb1734-debf-4d07-8138-f24fcbb9e103",
      "credentials": {
        "gmailOAuth2": {
          "id": "PASTE_GMAIL_CREDENTIAL_HERE",
          "name": "PASTE_GMAIL_CREDENTIAL_HERE"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger - New Audit Form Row": {
      "main": [
        [
          {
            "node": "IF - Contact Permission Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Contact Permission Exists": {
      "main": [
        [
          {
            "node": "Code - Score Lead and Generate Proposal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Score Lead and Generate Proposal": {
      "main": [
        [
          {
            "node": "IF - Has Email and WhatsApp Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Email and WhatsApp Number": {
      "main": [
        [
          {
            "node": "Gmail - Send HTML Proposal",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP - Send WhatsApp Proposal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Update Proposal Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail - Notify AKcelerateHQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Notify Missing Contact Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00000000-0000-4000-8000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "akceleratehq-free-audit-auto-proposal",
  "tags": []
}
