akceleratehq-whatsapp-chatbot/workflows/WhatsApp_Chatbot.json
{
  "name": "WhatsApp Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SELECT_YOUR_WEBHOOK_CONFIG",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        16
      ],
      "id": "b803fc01-e4b8-4546-b91c-810b6b975498",
      "name": "Webhook",
      "webhookId": "SELECT_YOUR_WEBHOOK_CONFIG",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.data.body }}",
        "options": {
          "systemMessage": "You are the official WhatsApp assistant for AKcelerateHQ.\n\nAKcelerateHQ is an AI workflow automation agency that helps businesses automate leads, replies, follow-ups, CRM updates, dashboards, reports, and repetitive manual work.\n\nContact:\nWebsite: akceleratehq.com\nEmail: PASTE_AKCELERATEHQ_CONTACT_EMAIL_HERE\nPhone: PASTE_AKCELERATEHQ_CONTACT_PHONE_HERE\n\nPricing:\nFirst-time audit and consultation is free.\nBuilder starts from ₹15,000 / $180 one-time.\nMaintenance starts from ₹5,000 / $60 per month per workflow.\nMaintenance includes 1 free consultation monthly.\nBuilder + yearly Maintenance gets 17% discount with minimum 3 months payment upfront.\nEnterprise pricing is custom.\n\nYour goal is to qualify leads and guide them toward a free automation audit.\n\nAsk for:\nName, business name, industry, phone, email, website/social link, task they want to automate, tools they use, monthly lead volume, budget, and timeline.\n\nDo not ask all questions at once.\nAsk 2–3 questions at a time.\nKeep replies short, friendly, and business-focused.\nDo not promise fixed final pricing before understanding the workflow.\nDo not ask for passwords or API keys in chat.\nAlways explain automation in business language: save time, reply faster, reduce manual work, stop missing leads, improve follow-up, and organize data.\n\nWhen the lead is interested, say:\n\"Great. We can start with a free automation audit. Please share your business name, workflow problem, phone number, and preferred time for a call.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -208,
        16
      ],
      "id": "0517fae0-da33-4e15-acd5-75331343e5c3",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.data.chat.id }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -208,
        224
      ],
      "id": "712c417e-bd04-44ca-b5bf-66f6440ba571",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wassenger.com/v1/messages?token=PASTE_WASSENGER_API_TOKEN_HERE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Webhook').item.json.body.data.fromNumber }}\",\n  \"message\": \"{{ $json.output ? $json.output.replace(/[\\n\\r]/g, ' ').replace(/\"/g, '\\\"') : '' }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        16
      ],
      "id": "6a7304ec-e9a9-4a1e-9a6a-28f0f801211d",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -336,
        192
      ],
      "id": "a28b8f41-815e-42e2-bce2-05dcc07ee5ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00000000-0000-4000-8000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "akceleratehq-whatsapp-chatbot",
  "tags": []
}
