project_01_ai_revops_automation/workflows/n8n_project_workflow.json
{
  "name": "Project 01 - Real RevOps Lead Intake, OpenRouter Scoring, Approval, CRM Storage",
  "nodes": [
    {
      "parameters": {
        "content": "Real Integration Mode skeleton. Uses Google Sheets intake from Google Forms, OpenRouter structured scoring, PostgreSQL CRM storage, Gmail human approval, Calendar scheduling, and validation/error logging. Credentials and IDs are placeholders.",
        "height": 220,
        "width": 460,
        "color": 4
      },
      "id": "revops-note",
      "name": "Sticky Note - RevOps Production Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1040, -240]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [{"mode": "everyMinute"}]
        },
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_FORMS_RESPONSE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_LEADS_SHEET_NAME }}",
          "mode": "name"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "revops-trigger-sheets",
      "name": "Google Sheets Trigger - Form Lead Added",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [-980, 80],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "GOOGLE_SHEETS_PORTFOLIO_CREDENTIAL_ID",
          "name": "Google Sheets - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst errors = [];\nconst consent = String(lead.consent || lead.Consent || '').trim().toLowerCase();\nif (!['yes', 'true', '1'].includes(consent)) errors.push('missing_or_invalid_consent');\nif (!lead.full_name) errors.push('missing_full_name');\nif (!lead.company_name) errors.push('missing_company_name');\nif (!lead.work_email) errors.push('missing_work_email');\nreturn [{ json: { ...lead, consent_valid: errors.length === 0, validation_errors: errors, source_record_id: lead.row_number || lead.id || $execution.id } }];"
      },
      "id": "revops-validate-consent",
      "name": "Code - Validate Consent And Required Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 80],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2},
          "conditions": [
            {
              "id": "revops-valid",
              "leftValue": "={{ $json.consent_valid }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true", "singleValue": true}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "revops-if-valid",
      "name": "IF - Consent And Required Fields Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-460, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (n8n_execution_id, workflow_name, node_name, severity, error_message, payload_reference) VALUES ('{{$execution.id}}', 'Project 01 - RevOps', 'Code - Validate Consent And Required Fields', 'warning', '{{ JSON.stringify($json.validation_errors) }}', '{{ $json.source_record_id }}');"
      },
      "id": "revops-log-validation",
      "name": "Postgres - Log Validation Review Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-160, 260],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENROUTER_BASE_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "HTTP-Referer", "value": "={{ $env.OPENROUTER_SITE_URL }}"},
            {"name": "X-Title", "value": "={{ $env.OPENROUTER_APP_NAME }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.OPENROUTER_MODEL, messages: [ { role: 'system', content: 'You are a RevOps analyst. Return strict JSON only with score, tier, reasons, risk_flags, recommended_next_action, follow_up_email_subject, follow_up_email_body.' }, { role: 'user', content: JSON.stringify($json) } ], response_format: { type: 'json_object' } } }}",
        "options": {"timeout": 30000}
      },
      "id": "revops-openrouter-score",
      "name": "OpenRouter - Score Lead With Structured JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-160, -40],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Code - Validate Consent And Required Fields').first().json;\nconst raw = $input.first().json;\nconst content = raw.choices?.[0]?.message?.content || raw.body?.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; } catch (error) { parsed = { score: 0, tier: 'Unqualified', reasons: ['invalid_llm_json'], risk_flags: ['llm_parse_error'], recommended_next_action: 'manual review required' }; }\nconst score = Number(parsed.score || 0);\nconst tier = ['Hot', 'Warm', 'Cold', 'Unqualified'].includes(parsed.tier) ? parsed.tier : 'Unqualified';\nreturn [{ json: { ...original, lead_score: score, lead_tier: tier, score_reasons: parsed.reasons || [], risk_flags: parsed.risk_flags || [], recommended_next_action: parsed.recommended_next_action || 'manual review required', follow_up_email_subject: parsed.follow_up_email_subject || 'Automation discovery next step', follow_up_email_body: parsed.follow_up_email_body || 'Draft requires manual review.', model_name: $env.OPENROUTER_MODEL, prompt_version: 'revops_scoring_v1' } }];"
      },
      "id": "revops-validate-llm",
      "name": "Code - Validate OpenRouter JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_leads (source_record_id, full_name, work_email, company_name, website, industry, company_size, monthly_revenue, country, pain_points, hours_lost_per_week, tools_used, budget, timeline, decision_authority, desired_outcome, consent, lead_score, lead_tier, ai_summary, recommended_next_action, status, prompt_version, model_name) VALUES ('{{$json.source_record_id}}', '{{$json.full_name}}', '{{$json.work_email}}', '{{$json.company_name}}', '{{$json.website}}', '{{$json.industry}}', '{{$json.company_size}}', NULLIF('{{$json.monthly_revenue}}','')::numeric, '{{$json.country}}', '{{$json.pain_points}}', NULLIF('{{$json.hours_lost_per_week}}','')::numeric, '{{$json.tools_used}}', NULLIF('{{$json.budget}}','')::numeric, '{{$json.timeline}}', '{{$json.decision_authority}}', '{{$json.desired_outcome}}', TRUE, {{$json.lead_score}}, '{{$json.lead_tier}}', '{{ JSON.stringify($json.score_reasons) }}', '{{$json.recommended_next_action}}', 'scored', '{{$json.prompt_version}}', '{{$json.model_name}}') ON CONFLICT DO NOTHING RETURNING id;"
      },
      "id": "revops-store-crm",
      "name": "Postgres - Upsert Scored Lead In CRM",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [400, -40],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2},
          "conditions": [
            {
              "id": "revops-hot",
              "leftValue": "={{ $('Code - Validate OpenRouter JSON Output').first().json.lead_tier }}",
              "rightValue": "Hot",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "revops-if-hot",
      "name": "IF - Hot Lead Requires Same-Day Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, -40]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $env.REVOPS_MANAGER_EMAIL }}",
        "subject": "={{ 'Approve follow-up for ' + $('Code - Validate OpenRouter JSON Output').first().json.company_name }}",
        "message": "={{ $('Code - Validate OpenRouter JSON Output').first().json.follow_up_email_body }}",
        "options": {}
      },
      "id": "revops-approval",
      "name": "Gmail - Human Approval For Lead Follow-Up",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, -160],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": "={{ $env.GOOGLE_CALENDAR_ID }}",
        "start": "={{ $now.plus({days: 1}).toISO() }}",
        "end": "={{ $now.plus({days: 1, minutes: 30}).toISO() }}",
        "additionalFields": {
          "summary": "={{ 'Discovery call hold - ' + $('Code - Validate OpenRouter JSON Output').first().json.company_name }}",
          "description": "={{ $('Code - Validate OpenRouter JSON Output').first().json.recommended_next_action }}"
        }
      },
      "id": "revops-calendar",
      "name": "Google Calendar - Create Tentative Discovery Hold",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [1240, -160],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_PORTFOLIO_CREDENTIAL_ID",
          "name": "Google Calendar - Portfolio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO approval_tasks (source_type, approver_email, approval_payload) VALUES ('lead_follow_up', '{{$env.REVOPS_MANAGER_EMAIL}}', '{{ JSON.stringify($json) }}'::jsonb);"
      },
      "id": "revops-approval-log",
      "name": "Postgres - Log Approval Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [960, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 24}]}
      },
      "id": "revops-report-schedule",
      "name": "Schedule Trigger - Daily RevOps Manager Report",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-980, 520]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT lead_tier, COUNT(*) AS lead_count, SUM(COALESCE(monthly_revenue,0)) AS represented_revenue FROM crm_leads WHERE created_at >= NOW() - INTERVAL '1 day' GROUP BY lead_tier ORDER BY lead_tier;"
      },
      "id": "revops-report-query",
      "name": "Postgres - Query Daily Lead Metrics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-700, 520],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.REVOPS_MANAGER_EMAIL }}",
        "subject": "Daily RevOps Automation Report",
        "emailType": "text",
        "message": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "revops-report-email",
      "name": "Gmail - Send Daily RevOps Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-420, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    }
  ],
  "connections": {
    "Google Sheets Trigger - Form Lead Added": {"main": [[{"node": "Code - Validate Consent And Required Fields", "type": "main", "index": 0}]]},
    "Code - Validate Consent And Required Fields": {"main": [[{"node": "IF - Consent And Required Fields Valid", "type": "main", "index": 0}]]},
    "IF - Consent And Required Fields Valid": {
      "main": [
        [{"node": "OpenRouter - Score Lead With Structured JSON", "type": "main", "index": 0}],
        [{"node": "Postgres - Log Validation Review Item", "type": "main", "index": 0}]
      ]
    },
    "OpenRouter - Score Lead With Structured JSON": {"main": [[{"node": "Code - Validate OpenRouter JSON Output", "type": "main", "index": 0}]]},
    "Code - Validate OpenRouter JSON Output": {"main": [[{"node": "Postgres - Upsert Scored Lead In CRM", "type": "main", "index": 0}]]},
    "Postgres - Upsert Scored Lead In CRM": {"main": [[{"node": "IF - Hot Lead Requires Same-Day Approval", "type": "main", "index": 0}]]},
    "IF - Hot Lead Requires Same-Day Approval": {
      "main": [
        [{"node": "Gmail - Human Approval For Lead Follow-Up", "type": "main", "index": 0}, {"node": "Postgres - Log Approval Task", "type": "main", "index": 0}],
        [{"node": "Postgres - Log Approval Task", "type": "main", "index": 0}]
      ]
    },
    "Gmail - Human Approval For Lead Follow-Up": {"main": [[{"node": "Google Calendar - Create Tentative Discovery Hold", "type": "main", "index": 0}]]},
    "Schedule Trigger - Daily RevOps Manager Report": {"main": [[{"node": "Postgres - Query Daily Lead Metrics", "type": "main", "index": 0}]]},
    "Postgres - Query Daily Lead Metrics": {"main": [[{"node": "Gmail - Send Daily RevOps Report", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true},
  "versionId": "portfolio-revops-real-integration-v2",
  "meta": {"templateCredsSetupCompleted": false},
  "id": "project-01-revops-real-integration",
  "tags": ["portfolio", "revops", "openrouter", "postgres", "human-approval"]
}

