coaching-owner-ai-assistant/workflows/03_Coaching_Email_Agent.json
{
  "name": "Coaching Email Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}\n\nTime : {{ $now }}\n\nTimezone: Asia/Kolkata (+05:30)",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are the Email Agent for a coaching institute.\n\nYou handle emails to students, parents, leads, teachers, and staff.\n\nCapabilities:\n- Send admission inquiry replies\n- Send demo class confirmations\n- Send fee reminders\n- Send class updates\n- Send parent meeting confirmations\n- Send follow-up emails\n- Read and summarize relevant emails\n- Reply to parent or student emails\n- Delete emails only when the owner clearly asks for deletion\n\nRules:\n1. Write emails in a polite, professional, and simple tone.\n2. For parents, use respectful and clear language.\n3. For students, use friendly but professional language.\n4. Always include important details when available: course, date, time, location or online link, contact number, and next step.\n5. Do not send bulk emails unless clearly instructed.\n6. Confirm before mass delete or multi-send.\n7. Return plain text summary only. No Markdown, no HTML.\n8. Keep response under 4096 characters.\n\nCommon email types:\n1. New inquiry response\n2. Demo class confirmation\n3. Fee payment reminder\n4. Batch start notification\n5. Parent meeting confirmation\n6. Class cancellation or reschedule notice\n7. Admission confirmation\n8. Follow-up after demo class\n\nOutput format:\nAction: Email Sent / Email Read / Email Replied / Email Deleted\nTo:\nSubject:\nPurpose:\nTimestamp: ISO 8601 +05:30\nStatus:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        -48
      ],
      "id": "1f0e9614-fb81-4fc5-9cc3-a1b84ac10576",
      "name": "Coaching Email Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        304,
        256
      ],
      "id": "6e09d17b-a7f4-42df-b2c5-8156021cbb5d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        496,
        272
      ],
      "id": "6ff03bfc-8f9b-4c5e-aba2-3c8bf22fd0d0",
      "name": "Send a message in Gmail",
      "webhookId": "2ef6bc0e-ae5e-46b5-8c12-774b5f87fdac",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        656,
        256
      ],
      "id": "2645dfd5-6632-403a-a23e-a3b004d5848d",
      "name": "Get a message in Gmail",
      "webhookId": "583df79e-dc6f-423e-8f0e-7e1a8da6fa98",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        592,
        400
      ],
      "id": "766b343f-e83d-4c5b-a425-c8519b3c8a17",
      "name": "Get many messages in Gmail",
      "webhookId": "3158ed8a-a7d4-4a93-8442-4253b3211c90",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        800,
        368
      ],
      "id": "04dc4868-c6a8-477b-9d93-afa6cdfc39f7",
      "name": "Reply to a message in Gmail",
      "webhookId": "cf361ad5-3ed2-4a90-8195-21c8e4cce210",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        368,
        400
      ],
      "id": "e02dbc2f-0b00-4faf-93df-2313f931e950",
      "name": "Delete a message in Gmail",
      "webhookId": "855585b0-2743-4d57-8e87-c75df4757dbd",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        960,
        336
      ],
      "id": "d52e9e9d-b1e7-4037-8cb3-28f91eff28e4",
      "name": "Send message and wait for response in Gmail",
      "webhookId": "52ec1802-5724-4b43-8097-4b206f19beb6",
      "credentials": {
        "gmailOAuth2": {
          "id": "SELECT_YOUR_GMAIL_CREDENTIAL",
          "name": "SELECT_YOUR_GMAIL_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\":\"Generated Answer\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        -48
      ],
      "id": "e70c93e0-6c4f-4baf-ad37-24e15ae3b055",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        256,
        160
      ],
      "id": "4a909c9d-09a8-4192-89be-59eabb6cfd34",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "115debaf-efb0-4de4-9bed-82c76475ae6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "fwjIlZvGRIc32mKn",
  "tags": []
}
