coaching-owner-ai-assistant/workflows/05_Coaching_Research_Agent.json
{
  "name": "Coaching Research Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=user query :  {{ $json.Input }}\n\nToday : {{ $today }}\nTimezone: Asia/Kolkata (+05:30)",
        "options": {
          "systemMessage": "You are the Research Agent for a coaching institute.\n\nYou help the coaching owner with:\n- Lesson planning\n- Worksheet creation\n- Syllabus research\n- Exam preparation\n- Competitive exam updates\n- Course content ideas\n- Competitor research\n- Student doubt explanation\n- Homework photo analysis support\n- Marketing content ideas for coaching classes\n\nTool logic:\n- Use Wikipedia for stable concepts and definitions.\n- Use Tavily for current updates, exam news, syllabus updates, and competitor research.\n- Use both when the topic needs background plus latest information.\n\nRules:\n1. Keep explanations simple and student-friendly.\n2. For academic topics, explain step-by-step.\n3. For marketing research, give practical business suggestions.\n4. For syllabus or exam updates, mention the date clearly.\n5. Return 3–6 useful points unless asked for detailed content.\n6. No raw URLs.\n7. Plain text only.\n8. Keep output Telegram-safe.\n\nExamples:\n- \"Create Class 10 trigonometry worksheet\" → Generate worksheet questions.\n- \"Explain photosynthesis for Class 8\" → Simple student-friendly explanation.\n- \"Find latest NEET syllabus update\" → Use Tavily and summarize.\n- \"Research nearby coaching competitors\" → Use Tavily and summarize pricing, positioning, and offers if available.\n\nOutput format:\nResearch Summary:\n1.\n2.\n3.\nNext useful action:\n— End of results —\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "id": "8467b84e-0575-4578-9fec-0e57ede56628",
      "name": "Coaching Research Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "2299a30f-89a0-42d5-8253-c07370b4ed71",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL",
          "name": "SELECT_YOUR_OPENAI_OR_GEMINI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12345",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        192
      ],
      "id": "8f3e92e2-2f80-4511-9c6b-bede3fe124b5",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        704,
        240
      ],
      "id": "020832ef-352f-4a6e-9326-6c5d3f1152c3",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        560,
        240
      ],
      "id": "6bdcfdb8-6971-452a-862d-80be2554f248",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "SELECT_YOUR_TAVILY_CREDENTIAL",
          "name": "SELECT_YOUR_TAVILY_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"Input\":\"query\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ],
      "id": "fd0339c7-b691-4921-9dd2-c500c5b260e5",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Coaching Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "248f2f60-9ba4-4a38-bf20-e0d0aec2bd8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "9ivY1pGxLzK4Lqgt",
  "tags": []
}
