project_03_ai_dataops_reporting_pipeline/workflows/n8n_project_workflow.json
{
  "name": "Project 03 - Real DataOps Ingestion, KPI Storage, OpenRouter Insights, Power BI Ready",
  "nodes": [
    {
      "parameters": {
        "content": "Real Integration Mode skeleton. Scheduled workflow reads cleaned orders from PostgreSQL or staged imports, validates data quality, calculates KPIs, uses OpenRouter for executive insights, stores reports, and sends stakeholder email. Power BI connects to PostgreSQL/reporting views outside this workflow.",
        "height": 240,
        "width": 520,
        "color": 6
      },
      "id": "dataops-note",
      "name": "Sticky Note - DataOps Production Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1080, -260]
    },
    {
      "parameters": {
        "rule": {"interval": [{"field": "weeks", "weeksInterval": 1}]}
      },
      "id": "dataops-schedule",
      "name": "Schedule Trigger - Weekly DataOps Run",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1020, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sales_orders_clean WHERE loaded_at >= NOW() - INTERVAL '45 days';"
      },
      "id": "dataops-read-orders",
      "name": "Postgres - Read Clean Sales Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-740, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst issues = rows.filter(row => row.is_valid_revenue === false || row.data_quality_issues?.length);\nconst totalRevenue = rows.filter(row => row.is_valid_revenue !== false).reduce((sum, row) => sum + Number(row.amount || 0), 0);\nconst pendingPayments = rows.filter(row => ['Pending', 'Overdue'].includes(row.payment_status)).reduce((sum, row) => sum + Number(row.amount || 0), 0);\nconst overdueRows = rows.filter(row => row.is_overdue === true || row.payment_status === 'Overdue');\nconst delayedRows = rows.filter(row => row.is_delayed === true);\nreturn [{ json: { report_date: $now.toISODate(), total_orders: rows.length, data_quality_issue_count: issues.length, total_revenue: totalRevenue, pending_payments: pendingPayments, overdue_invoice_count: overdueRows.length, overdue_invoice_amount: overdueRows.reduce((sum, row) => sum + Number(row.amount || 0), 0), delayed_order_count: delayedRows.length, report_payload: { delayed_orders: delayedRows.map(row => row.order_id), quality_issues: issues.map(row => row.order_id) } } }];"
      },
      "id": "dataops-calc-kpis",
      "name": "Code - Validate Data Quality And Calculate KPIs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 80],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2},
          "conditions": [
            {
              "id": "dataops-quality-threshold",
              "leftValue": "={{ $json.data_quality_issue_count }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "larger"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dataops-if-quality",
      "name": "IF - Data Quality Issues Need Logging",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-180, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (n8n_execution_id, workflow_name, node_name, severity, error_message, payload_reference) VALUES ('{{$execution.id}}', 'Project 03 - DataOps', 'Code - Validate Data Quality And Calculate KPIs', 'warning', 'Data quality issues found: {{$json.data_quality_issue_count}}', '{{ JSON.stringify($json.report_payload.quality_issues) }}');"
      },
      "id": "dataops-log-quality",
      "name": "Postgres - Log Data Quality Warning",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [100, -80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENROUTER_BASE_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "HTTP-Referer", "value": "={{ $env.OPENROUTER_SITE_URL }}"},
            {"name": "X-Title", "value": "={{ $env.OPENROUTER_APP_NAME }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.OPENROUTER_MODEL, messages: [ { role: 'system', content: 'You are a DataOps analyst. Return strict JSON only with executive_summary, risk_notes, recommended_actions. Do not invent metrics not present in input.' }, { role: 'user', content: JSON.stringify($json) } ], response_format: { type: 'json_object' } } }}",
        "options": {"timeout": 30000}
      },
      "id": "dataops-openrouter-insights",
      "name": "OpenRouter - Generate Executive KPI Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 180],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const metrics = $('Code - Validate Data Quality And Calculate KPIs').first().json;\nconst raw = $input.first().json;\nconst content = raw.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; } catch (error) { parsed = { executive_summary: 'Insight generation failed; review KPI table directly.', risk_notes: ['llm_parse_error'], recommended_actions: ['manual review'] }; }\nreturn [{ json: { ...metrics, insight_summary: parsed.executive_summary, risk_notes: parsed.risk_notes || [], recommended_actions: parsed.recommended_actions || [], model_name: $env.OPENROUTER_MODEL, prompt_version: 'dataops_insights_v1' } }];"
      },
      "id": "dataops-validate-insights",
      "name": "Code - Validate Insight JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 180],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO kpi_reports (report_date, report_type, total_revenue, pending_payments, overdue_invoice_amount, overdue_invoice_count, average_order_value, insight_summary, model_name, prompt_version, report_payload) VALUES ('{{$json.report_date}}', 'weekly_sales_ops', {{$json.total_revenue}}, {{$json.pending_payments}}, {{$json.overdue_invoice_amount}}, {{$json.overdue_invoice_count}}, CASE WHEN {{$json.total_orders}} > 0 THEN {{$json.total_revenue}} / {{$json.total_orders}} ELSE 0 END, '{{$json.insight_summary}}', '{{$json.model_name}}', '{{$json.prompt_version}}', '{{ JSON.stringify($json.report_payload) }}'::jsonb);"
      },
      "id": "dataops-store-report",
      "name": "Postgres - Store KPI Report For BI",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [660, 180],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.DATAOPS_STAKEHOLDER_EMAIL }}",
        "subject": "Weekly DataOps KPI Report",
        "emailType": "text",
        "message": "={{ $json.insight_summary + '\\n\\nRisks: ' + JSON.stringify($json.risk_notes) + '\\nActions: ' + JSON.stringify($json.recommended_actions) }}",
        "options": {}
      },
      "id": "dataops-email-report",
      "name": "Gmail - Send Weekly KPI Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [940, 180],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "content": "Power BI integration is intentionally documented rather than represented as a live tenant connection. Recommended path: Power BI connects to PostgreSQL views over kpi_reports and sales_orders_clean, or refreshes an existing dataset through the REST API with tenant-specific credentials.",
        "height": 180,
        "width": 460,
        "color": 3
      },
      "id": "dataops-powerbi-note",
      "name": "Sticky Note - Power BI Integration Boundary",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [640, -120]
    }
  ],
  "connections": {
    "Schedule Trigger - Weekly DataOps Run": {"main": [[{"node": "Postgres - Read Clean Sales Orders", "type": "main", "index": 0}]]},
    "Postgres - Read Clean Sales Orders": {"main": [[{"node": "Code - Validate Data Quality And Calculate KPIs", "type": "main", "index": 0}]]},
    "Code - Validate Data Quality And Calculate KPIs": {"main": [[{"node": "IF - Data Quality Issues Need Logging", "type": "main", "index": 0}]]},
    "IF - Data Quality Issues Need Logging": {
      "main": [
        [{"node": "Postgres - Log Data Quality Warning", "type": "main", "index": 0}, {"node": "OpenRouter - Generate Executive KPI Insights", "type": "main", "index": 0}],
        [{"node": "OpenRouter - Generate Executive KPI Insights", "type": "main", "index": 0}]
      ]
    },
    "OpenRouter - Generate Executive KPI Insights": {"main": [[{"node": "Code - Validate Insight JSON", "type": "main", "index": 0}]]},
    "Code - Validate Insight JSON": {"main": [[{"node": "Postgres - Store KPI Report For BI", "type": "main", "index": 0}]]},
    "Postgres - Store KPI Report For BI": {"main": [[{"node": "Gmail - Send Weekly KPI Report", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true},
  "versionId": "portfolio-dataops-real-integration-v2",
  "meta": {"templateCredsSetupCompleted": false},
  "id": "project-03-dataops-real-integration",
  "tags": ["portfolio", "dataops", "openrouter", "postgres", "power-bi-ready"]
}
