project_02_ai_support_rag_agent/workflows/global_error_handler.json
{
  "name": "Global Error Handler - Portfolio Real Integration Mode",
  "nodes": [
    {
      "parameters": {
        "content": "Attach this workflow as the error workflow for each Real Integration Mode workflow. It logs workflow/node failures to PostgreSQL and emails the automation owner. It does not retry blindly because retries depend on the failed node and idempotency rules.",
        "height": 220,
        "width": 520,
        "color": 2
      },
      "id": "error-note",
      "name": "Sticky Note - Global Error Strategy",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-760, -180]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger - Any Workflow Failure",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [-700, 80]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\nconst workflow = error.workflow?.name || error.workflowName || 'unknown_workflow';\nconst node = error.execution?.lastNodeExecuted || error.node?.name || 'unknown_node';\nconst message = error.execution?.error?.message || error.error?.message || JSON.stringify(error).slice(0, 500);\nreturn [{ json: { n8n_execution_id: String(error.execution?.id || $execution.id), workflow_name: workflow, node_name: node, severity: 'error', error_message: message, payload_reference: error.execution?.url || '' } }];"
      },
      "id": "error-normalize",
      "name": "Code - Normalize Error Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 80]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (n8n_execution_id, workflow_name, node_name, severity, error_message, payload_reference) VALUES ('{{$json.n8n_execution_id}}', '{{$json.workflow_name}}', '{{$json.node_name}}', '{{$json.severity}}', '{{$json.error_message}}', '{{$json.payload_reference}}');"
      },
      "id": "error-postgres-log",
      "name": "Postgres - Insert Workflow Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-140, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.WORKFLOW_ALERT_EMAIL }}",
        "subject": "={{ 'n8n workflow failure: ' + $json.workflow_name }}",
        "emailType": "text",
        "message": "={{ 'Workflow: ' + $json.workflow_name + '\\nNode: ' + $json.node_name + '\\nExecution: ' + $json.n8n_execution_id + '\\nError: ' + $json.error_message + '\\nPayload: ' + $json.payload_reference }}",
        "options": {}
      },
      "id": "error-email-alert",
      "name": "Gmail - Alert Automation Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [140, 80],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger - Any Workflow Failure": {"main": [[{"node": "Code - Normalize Error Payload", "type": "main", "index": 0}]]},
    "Code - Normalize Error Payload": {"main": [[{"node": "Postgres - Insert Workflow Error", "type": "main", "index": 0}]]},
    "Postgres - Insert Workflow Error": {"main": [[{"node": "Gmail - Alert Automation Owner", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true},
  "versionId": "portfolio-global-error-handler-v1",
  "meta": {"templateCredsSetupCompleted": false},
  "id": "portfolio-global-error-handler",
  "tags": ["portfolio", "global-error-handler", "logging"]
}

