project_02_ai_support_rag_agent/workflows/n8n_project_workflow.json
{
  "name": "Project 02 - Real Support RAG Intake, OpenRouter Drafting, Approval Routing",
  "nodes": [
    {
      "parameters": {
        "content": "Real Integration Mode skeleton. Gmail label trigger creates support tickets, stores them in PostgreSQL, retrieves approved KB content, uses OpenRouter for classification/drafting, and routes to approval or escalation.",
        "height": 220,
        "width": 500,
        "color": 5
      },
      "id": "support-note",
      "name": "Sticky Note - Support RAG Production Flow",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1080, -260]
    },
    {
      "parameters": {
        "pollTimes": {"item": [{"mode": "everyMinute"}]},
        "filters": {
          "labelIds": ["={{ $env.GOOGLE_SUPPORT_LABEL }}"]
        }
      },
      "id": "support-gmail-trigger",
      "name": "Gmail Trigger - New Labeled Support Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [-1020, 80],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const email = $input.first().json;\nconst subject = email.subject || '(no subject)';\nconst message = email.textPlain || email.snippet || '';\nconst from = email.from?.value?.[0]?.address || email.from || '';\nreturn [{ json: { external_ticket_id: email.id || $execution.id, customer_email: from, subject, message, priority: /urgent|blocked|production/i.test(subject + ' ' + message) ? 'high' : 'normal', channel: 'gmail' } }];"
      },
      "id": "support-normalize-email",
      "name": "Code - Normalize Gmail Message To Ticket",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-760, 80],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO support_tickets (external_ticket_id, customer_email, channel, priority, subject, message, status) VALUES ('{{$json.external_ticket_id}}', '{{$json.customer_email}}', 'gmail', '{{$json.priority}}', '{{$json.subject}}', '{{$json.message}}', 'new') ON CONFLICT (external_ticket_id) DO UPDATE SET updated_at = NOW() RETURNING id;"
      },
      "id": "support-store-ticket",
      "name": "Postgres - Store Incoming Support Ticket",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-500, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, body FROM knowledge_base_articles WHERE active = TRUE ORDER BY updated_at DESC LIMIT 5;"
      },
      "id": "support-fetch-kb",
      "name": "Postgres - Retrieve Approved KB Articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-240, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OPENROUTER_BASE_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.OPENROUTER_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "HTTP-Referer", "value": "={{ $env.OPENROUTER_SITE_URL }}"},
            {"name": "X-Title", "value": "={{ $env.OPENROUTER_APP_NAME }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: $env.OPENROUTER_MODEL, messages: [ { role: 'system', content: 'You are a SaaS support triage agent. Return strict JSON only with category, confidence, matched_article_title, drafted_reply, risk_flags, route. Route must be approval or escalation. Escalate refunds, billing disputes, complaints, SSO/security, legal, and low confidence.' }, { role: 'user', content: JSON.stringify({ ticket: $('Code - Normalize Gmail Message To Ticket').first().json, kb_articles: $json }) } ], response_format: { type: 'json_object' } } }}",
        "options": {"timeout": 30000}
      },
      "id": "support-openrouter-draft",
      "name": "OpenRouter - Classify Ticket And Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 80],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const ticket = $('Code - Normalize Gmail Message To Ticket').first().json;\nconst raw = $input.first().json;\nconst content = raw.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = typeof content === 'string' ? JSON.parse(content) : content; } catch (error) { parsed = { category: 'Other', confidence: 0, drafted_reply: 'Manual review required.', risk_flags: ['llm_parse_error'], route: 'escalation' }; }\nconst risky = (parsed.risk_flags || []).length > 0 || Number(parsed.confidence || 0) < 0.7;\nconst route = risky || parsed.route === 'escalation' ? 'escalation' : 'approval';\nreturn [{ json: { ...ticket, category: parsed.category || 'Other', confidence: Number(parsed.confidence || 0), matched_article_title: parsed.matched_article_title || '', drafted_reply: parsed.drafted_reply || 'Manual review required.', risk_flags: parsed.risk_flags || [], route, model_name: $env.OPENROUTER_MODEL, prompt_version: 'support_triage_v1' } }];"
      },
      "id": "support-validate-json",
      "name": "Code - Validate AI Route And Guardrails",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 80],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE support_tickets SET category='{{$json.category}}', confidence={{$json.confidence}}, route='{{$json.route}}', risk_flags='{{ JSON.stringify($json.risk_flags) }}'::text[], status='triaged', updated_at=NOW() WHERE external_ticket_id='{{$json.external_ticket_id}}';"
      },
      "id": "support-update-ticket",
      "name": "Postgres - Update Ticket Triage Decision",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [540, 80],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": false, "leftValue": "", "typeValidation": "loose", "version": 2},
          "conditions": [
            {
              "id": "support-route-approval",
              "leftValue": "={{ $('Code - Validate AI Route And Guardrails').first().json.route }}",
              "rightValue": "approval",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "support-if-approval",
      "name": "IF - High Confidence Safe For Human Approval",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, 80]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "={{ $env.SUPPORT_REVIEWER_EMAIL }}",
        "subject": "={{ 'Approve support draft: ' + $('Code - Validate AI Route And Guardrails').first().json.subject }}",
        "message": "={{ $('Code - Validate AI Route And Guardrails').first().json.drafted_reply }}",
        "options": {}
      },
      "id": "support-approval",
      "name": "Gmail - Human Approval For Support Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1080, -60],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO approval_tasks (source_type, approver_email, approval_payload) VALUES ('support_reply', '{{$env.SUPPORT_REVIEWER_EMAIL}}', '{{ JSON.stringify($json) }}'::jsonb);"
      },
      "id": "support-approval-log",
      "name": "Postgres - Log Support Approval Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1360, -60],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_errors (n8n_execution_id, workflow_name, node_name, severity, error_message, payload_reference) VALUES ('{{$execution.id}}', 'Project 02 - Support RAG', 'IF - High Confidence Safe For Human Approval', 'warning', '{{ JSON.stringify($json.risk_flags) }}', '{{$json.external_ticket_id}}');"
      },
      "id": "support-escalation-log",
      "name": "Postgres - Log Escalation Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1080, 220],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "rule": {"interval": [{"field": "hours", "hoursInterval": 24}]}
      },
      "id": "support-report-schedule",
      "name": "Schedule Trigger - Daily Support Analytics",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1020, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT category, route, COUNT(*) AS ticket_count, AVG(confidence) AS avg_confidence FROM support_tickets WHERE updated_at >= NOW() - INTERVAL '1 day' GROUP BY category, route ORDER BY category, route;"
      },
      "id": "support-report-query",
      "name": "Postgres - Query Daily Support Analytics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [-740, 560],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_PORTFOLIO_CREDENTIAL_ID",
          "name": "Postgres - Portfolio"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.SUPPORT_MANAGER_EMAIL }}",
        "subject": "Daily AI Support Triage Report",
        "emailType": "text",
        "message": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "support-report-email",
      "name": "Gmail - Send Daily Support Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-460, 560],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_PORTFOLIO_CREDENTIAL_ID",
          "name": "Gmail - Portfolio"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger - New Labeled Support Email": {"main": [[{"node": "Code - Normalize Gmail Message To Ticket", "type": "main", "index": 0}]]},
    "Code - Normalize Gmail Message To Ticket": {"main": [[{"node": "Postgres - Store Incoming Support Ticket", "type": "main", "index": 0}]]},
    "Postgres - Store Incoming Support Ticket": {"main": [[{"node": "Postgres - Retrieve Approved KB Articles", "type": "main", "index": 0}]]},
    "Postgres - Retrieve Approved KB Articles": {"main": [[{"node": "OpenRouter - Classify Ticket And Draft Reply", "type": "main", "index": 0}]]},
    "OpenRouter - Classify Ticket And Draft Reply": {"main": [[{"node": "Code - Validate AI Route And Guardrails", "type": "main", "index": 0}]]},
    "Code - Validate AI Route And Guardrails": {"main": [[{"node": "Postgres - Update Ticket Triage Decision", "type": "main", "index": 0}]]},
    "Postgres - Update Ticket Triage Decision": {"main": [[{"node": "IF - High Confidence Safe For Human Approval", "type": "main", "index": 0}]]},
    "IF - High Confidence Safe For Human Approval": {
      "main": [
        [{"node": "Gmail - Human Approval For Support Draft", "type": "main", "index": 0}],
        [{"node": "Postgres - Log Escalation Item", "type": "main", "index": 0}]
      ]
    },
    "Gmail - Human Approval For Support Draft": {"main": [[{"node": "Postgres - Log Support Approval Task", "type": "main", "index": 0}]]},
    "Schedule Trigger - Daily Support Analytics": {"main": [[{"node": "Postgres - Query Daily Support Analytics", "type": "main", "index": 0}]]},
    "Postgres - Query Daily Support Analytics": {"main": [[{"node": "Gmail - Send Daily Support Report", "type": "main", "index": 0}]]}
  },
  "pinData": {},
  "active": false,
  "settings": {"executionOrder": "v1", "saveExecutionProgress": true, "saveManualExecutions": true},
  "versionId": "portfolio-support-real-integration-v2",
  "meta": {"templateCredsSetupCompleted": false},
  "id": "project-02-support-rag-real-integration",
  "tags": ["portfolio", "support", "rag", "openrouter", "human-approval"]
}

